html {
    font-family: Tahoma, sans-serif;
}

body {
    background-color: #f5f5dc;
}

main{
    background-color: #ffffff;
    border-radius: 10px 20px;
    padding: 15px;
    width: 500px;
    margin: auto; 
    margin-top: 200px;
    box-shadow: 3px 3px 5px #0000007a;
}
main > h1{
    text-align: center;
}
main > p{
    text-align: justify;
}
.envioPalpite{
    background: #2c2c34;
    border: none;
    border-radius: 12px;
    margin-left: 15px;
    padding: 13px;
    font-size: 16px;
    color: #ffffff;
}
.envioPalpite:hover{
    background: #494850;
}
.lastResult {
    color: #ffffff;
    padding: 3px;
}
.novoJogo{
    display: none;
    margin: auto;
}
.ultimoResultado{
    text-align: center;
}